# stupid system files
.DS_Store

# emacs files
*~
.\#*
\#*\#

# python env
.env
env
.venv

# python
__pycache__

kaikki.*.json
*_zh.json
*tar.gz
wiktionary_*.db
wiktionary_*_dump_*
kindle_*.db
kindle_*_dump_v*
forms.json
translations.json
